# appveyor config
# based on https://www.appveyor.com/docs/appveyor-yml/
# validated with https://ci.appveyor.com/tools/validate-yaml

version: "{build}"

environment:
  nodejs_version: 9

# fix line endings in Windows
init:
  - git config --global core.autocrlf input

install:
  - ps: Install-Product node $env:nodejs_version
  - ps: echo "//registry.npmjs.org/:_authToken=`$`{NPM_TOKEN`}" | Out-File (Join-Path $ENV:APPVEYOR_BUILD_FOLDER ".npmrc") -Encoding UTF8
  - npm update
  - npm update --save-dev # https://github.com/npm/npm/issues/16901

build: off

cache:
  - node_modules -> package.json

configuration: build-lint-test

test_script:
  - npm run ci-test

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true
