jobs:
- job: ${{ parameters.name }}
  pool:
    vmImage: ${{ parameters.vmImage }}
  strategy:
    matrix:
      node_11_x:
        node_version: 11.x
      node_10_x:
        node_version: 10.x
      node_8_x:
        node_version: 8.x
    maxParallel: 5
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: $(node_version)
    displayName: Install Node.js
  - bash: npm i
    displayName: Install dependencies
  - bash: npm run ci-lint
    displayName: Check linting
  - bash: npm run ci-test
    displayName: Run tests
  - task: PublishTestResults@2
    displayName: "Publish Test Results"
    condition: succeededOrFailed()
    inputs:
      testResultsFiles: "**test/junit-testresults.xml"
      testRunTitle: TestRun ${{ parameters.name }} $(node_version)
