# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
defaults: &defaults
  working_directory: ~/workspace
  docker:
    - image: circleci/node:latest

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - checkout

      - run:
         name: npm install
         command: |
           npm config set package-lock false
           npm install

      - persist_to_workspace:
          root: ~/
          paths:
            - workspace

  lint:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run ci-lint

  test:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run ci-test

  coverage:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/
      - run: npm run ci-cov

workflows:
  version: 2
  build-lint-test:
    jobs:
      - build
      - lint:
          requires:
            - build
      - test:
          requires:
            - build
      - coverage:
          requires:
            - lint
            - test
